*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  color: #444444;
}
a {
  color: #444444;
  text-decoration: none;
}

header {
  width: 100%;
  text-align: center;
}
header h1 {
  margin-bottom: 1rem;
}
nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
nav ul {
  display: flex;
  flex-direction: column;
  
}
nav ul li{
  list-style: none;
  border-bottom: 1px solid #ffffff;
}
nav ul li a{
  padding: 1rem;
  display: inline-block;
  width: 100%;
  text-align: center;
  text-transform: capitalize;
  background: #444444;
  color: #f1f1f1;
  border-radius: 0.5rem;
}
nav ul li a:hover{
  background: #0b4bb2f1;
  color: #ffffff;
  
}
